<html class="h-full bg-gray-100">

<head>
    <title>Example</title>
    <!--Tailwind CSS-->
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.css" rel="stylesheet" />
    <!--HTMX-->
    <script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js">
    </script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>

<body class="h-full overflow-hidden">
    <div>
        <header class="bg-white shadow-md fixed top-0 w-full z-50 h-16 flex items-center pl-4">
            <div class="flex gap-1">
                <img src="/static/hawk8s.png" class="h-8 w-8" />
                <h1 class="text-xl font-bold">hawk8s</h1>
            </div>
        </header>
        <div class="mt-16 flex w-full fixed bg-white" x-data="{activeNamespace:'all', activeMode:'memory'}">
            <aside class="h-screen sticky top-0 bg-slate-100" hx-trigger="every 30s, load" hx-get="/namespaces"
                hx-swap="innerHTML">
            </aside>

            <main class="h-screen top-0 flex-grow p-5">
                <div id="content" hx-trigger="every 30s, load" hx-get="/nodes"></div>
            </main>
        </div>
    </div>
</body>

</html>